<div id="container" layout="column" layout-fill>
	<ng-include src="'shared/templates/toolbar.html'"></ng-include>
	<section layout="row" flex>
		<ng-include src="'shared/templates/sidenav.html'"></ng-include>
		<md-content style="width:80%">
			<div layout="row" class="cardsContainer">
				<div flex class="firstCardCol">
					<md-card class="fileUploadCard">
						<md-card-header class="cardHeader">
							<md-card-avatar>
								<i class="material-icons">attach_file</i>
							</md-card-avatar>
							<md-card-header-text>
								<span class="md-title">Transform your .pdf/.docx. Easy.</span>
							</md-card-header-text>
						</md-card-header>
						<md-card-content>
							<div layout="row" layout-align="center center">
								<div ng-switch on="imageStatus" class="imageToToggle">
									<img class="fileUploadOpacity" ng-switch-when="Sent" src='https://hd.unsplash.com/photo-1447622919665-d95b0d80b251'>
									<img class="fileUpload" ng-switch-when="Received" src='https://hd.unsplash.com/photo-1471900666194-26fd39c2114c'>
									<img class="fileUpload" ng-switch-default   src='https://hd.unsplash.com/photo-1470173274384-c4e8e2f9ea4c'>
								</div>
							</div>
						</md-card-content>
						<md-card-actions layout="row" layout-align="start center">
							<div layout="row" class="fileUploadSection">
								<div>
									<form class="selectFileForm" name="form" enctype="multipart/form-data">
										<md-button ng-disabled="file"class="uploadFileButton" ngf-select ng-model="file" name="file"
											accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, .html">Select</md-button>
									</form>
									<p class="uploadFileName" ng-show="file">Your File is: {{file.name}}
										<i class="material-icons">attach_file</i>
									</p>
								</div>
							</div>
						</md-card-actions>
						<md-card-actions layout="row" layout-align="start center">
							<p class="uploadFileName">Output type:</p>
							<md-radio-group ng-disabled="!file || imageStatus" ng-model="selectedOutputType">
								<md-radio-button class="uploadFileName" value="Plain Text" class="md-primary">Plain Text</md-radio-button>
								<span></span>
								<md-radio-button class="uploadFileName" value="JSON"> JSON </md-radio-button>
							</md-radio-group>
						</md-card-actions>
						<md-card-actions layout="row" layout-align="start center">
							<md-button ng-disabled="!selectedOutputType || imageStatus || showLink" class="uploadFileButtonConvert" ng-click="convertFile()">Convert</md-button>
						</md-card-actions>
					</md-card>
				</div>
				<div class="secondCardCol" flex ng-show="showLink">
					<md-card class="fileUploadCard">
						<md-card-header class="cardHeaderDownloadOptions">
							<md-card-avatar>
								<i class="material-icons">file_download</i>
							</md-card-avatar>
							<md-card-header-text>
								<span class="md-title">Download Your File</span>
							</md-card-header-text>
						</md-card-header>
						<md-card-content>
							<div layout="row" class="downloadOptions">
								<div flex class="downloadJSON">
									<p class="downloadText">Sorry, if it wasn't enough time for you to finish your ice-cream... Your Doc is ready!</p>
								</div>
								<div flex class="downloadPlainText">
									<md-button class="downloadButton" href="javascript:void(0);" ng-click="download(docToDownload)">Download</md-button>
								</div>
							</div>
						</md-card-content>
					</md-card>
				</div>
			</div>
		</md-content>
	</section>
	<ng-include src="'shared/templates/footer.html'"></ng-include>
</div>